# Đồ án cuối kỳ

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

df = pd.read_csv('test.csv')
df

,Date,Location,Rainfall_mm,WaterLevel_m,SoilMoisture_pct,Elevation_m,FloodOccurrence
0,2016-01-01,Quezon City,12.0,0.5,15.3,43,0
1,2016-01-01,Marikina,10.6,1.8,23.2,15,0
2,2016-01-01,Manila,5.7,0.5,15.6,5,0
3,2016-01-01,Pasig,3.7,0.5,5.0,5,0
4,2016-01-02,Quezon City,3.4,0.5,13.3,43,0
...,...,...,...,...,...,...,...
7303,2020-12-30,Pasig,16.9,1.4,16.8,5,0
7304,2020-12-31,Quezon City,7.2,0.7,25.6,43,0
7305,2020-12-31,Marikina,4.8,1.3,9.6,15,0
7306,2020-12-31,Manila,7.4,1.0,11.9,5,0
7307,2020-12-31,Pasig,7.8,1.5,7.3,5,0

In [7]:
flooded_area = df[df['FloodOccurrence'] == 1]
flooded_area

,Date,Location,Rainfall_mm,WaterLevel_m,SoilMoisture_pct,Elevation_m,FloodOccurrence
39,2016-01-10,Pasig,37.8,4.6,30.2,5,1
124,2016-02-01,Quezon City,48.2,6.3,39.7,43,1
172,2016-02-13,Quezon City,38.4,3.1,29.5,43,1
216,2016-02-24,Quezon City,33.7,1.7,25.0,43,1
266,2016-03-07,Manila,30.2,2.7,21.7,5,1
...,...,...,...,...,...,...,...
7170,2020-11-27,Manila,40.9,4.7,29.3,5,1
7171,2020-11-27,Pasig,35.4,1.5,34.2,5,1
7207,2020-12-06,Pasig,33.2,4.8,31.7,5,1
7243,2020-12-15,Pasig,32.6,4.7,29.8,5,1
7262,2020-12-20,Manila,34.6,3.1,28.0,5,1

In [8]:
print(df['Location'].value_counts())
df = pd.get_dummies(df, columns=['Location'], drop_first=True)

Location
Quezon City    1827
Marikina       1827
Manila         1827
Pasig          1827
Name: count, dtype: int64

In [9]:
Y = df['FloodOccurrence'].to_numpy()
X = df.drop(columns=['Date', 'FloodOccurrence']).to_numpy()
print(X, '\n')
print(Y)

[[12.0 0.5 15.3 ... False False True]
 [10.6 1.8 23.2 ... True False False]
 [5.7 0.5 15.6 ... False False False]
 ...
 [4.8 1.3 9.6 ... True False False]
 [7.4 1.0 11.9 ... False False False]
 [7.8 1.5 7.3 ... False True False]]

[0 0 0 ... 0 0 0]

Tạo hàm sigmoid

In [10]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))